<section id="about" class="section about">
  <div class="container">
    <div class="section-title">
      <h2>{{ 'ABOUT.TITLE' | translate }}</h2>
      <p>{{ 'ABOUT.SUBTITLE' | translate }}</p>
    </div>

    <div class="about-content">
      <div class="about-text">
        <div class="about-intro">
          <h3>{{ 'ABOUT.WHO_WE_ARE' | translate }}</h3>
          <p>{{ 'ABOUT.WHO_WE_ARE_TEXT' | translate }}</p>
        </div>

        <div class="mission-vision">
          <div class="mission">
            <h4>{{ 'ABOUT.MISSION' | translate }}</h4>
            <p>{{ 'ABOUT.MISSION_TEXT' | translate }}</p>
          </div>
          <div class="vision">
            <h4>{{ 'ABOUT.VISION' | translate }}</h4>
            <p>{{ 'ABOUT.VISION_TEXT' | translate }}</p>
          </div>
        </div>
      </div>

      <div class="about-image">
        <div class="image-placeholder">
          <span><source><img src="../../../assets/images/TPB logo.png" alt="" width="300" height="300"></span>
        </div>
      </div>
    </div>
  </div>
</section>
