<section id="partners" class="section partners">
  <div class="container">
    <div class="section-title">
      <h2>{{ 'PARTNERS.TITLE' | translate }}</h2>
      <p>{{ 'PARTNERS.SUBTITLE' | translate }}</p>
    </div>

    <div class="partners-grid">
      @for (partner of partners; track partner) {
        <div class="partner-card">
          <div class="partner-logo">
            <img [src]="'../../../assets/images/partners/' + partner.logo + '.png'" [alt]="partner.name" width="150" height="100">
          </div>
        </div>
      }
    </div>

    <div class="locations-content">
      <div class="locations-sidebar">
        <div class="locations-list">
          @for (type of locationTypes; track type) {
            <div class="location-group">
              <h5>{{ getTypeLabel(type) }}</h5>
              <ul>
                @for (location of getLocationsByType(type); track location) {
                  <li
                    [class.active]="selectedLocation?.id === location.id"
                    (click)="selectLocation(location)">
                    <span class="location-dot" [style.background-color]="getTypeColor(location.type)"></span>
                    <div class="location-info">
                      <span class="location-name">{{ location.name }}</span>
                      <span class="location-city">{{ location.city }}, {{ location.country }}</span>
                    </div>
                  </li>
                }
              </ul>
            </div>
          }
        </div>
      </div>

      <div class="map-container">
        <div id="partners-map"></div>
      </div>
    </div>

    <div class="partners-cta">
      <p>{{ 'PARTNERS.CTA_TEXT' | translate }}</p>
      <a href="#contact" class="btn btn-outline">{{ 'PARTNERS.CTA_BUTTON' | translate }}</a>
    </div>
  </div>
</section>
